# Number Functions

<hr>

| Function           | Syntax              | Description                               |
|--------------------|---------------------|-------------------------------------------|
| **ROUND()**        | `ROUND(num, decimals)` | Rounds number to given decimal places.     |
| **TRUNCATE()**     | `TRUNCATE(num, decimals)` | Cuts off decimals without rounding.        |
| **CEIL() / CEILING()** | `CEIL(num)`       | Rounds number up to the nearest integer.  |
| **FLOOR()**        | `FLOOR(num)`        | Rounds number down to the nearest integer. |
| **ABS()**          | `ABS(num)`          | Returns absolute value.                   |
| **MOD()**          | `MOD(num, divisor)` | Returns remainder of division.            |
| **FORMAT()**       | `FORMAT(num, decimals)` | Formats number with commas and decimals.  |
| **POWER() / POW()**| `POWER(num, exp)`   | Raises number to a power.                 |
| **SQRT()**         | `SQRT(num)`         | Square root of a number.                  |
| **EXP()**          | `EXP(num)`          | Returns e^num.                            |
| **LOG() / LN()**   | `LOG(num)`          | Natural logarithm.                        |
| **LOG10()**        | `LOG10(num)`        | Base-10 logarithm.                        |
| **RAND()**         | `RAND()`            | Returns a random float between 0 and 1.   |
| **SIGN()**         | `SIGN(num)`         | Returns -1, 0, or 1 depending on sign.    |

<hr>

### Example Queries: <br>

#### 1. Rounding salaries to 2 decimals:
```sql
SELECT first_name, salary, ROUND(salary, 2) AS rounded_salary
FROM employee_salary;
```


#### 2. Truncating without rounding (drop extra decimals):
```sql
SELECT TRUNCATE(123.4567, 2) AS truncated;
-- Output: 123.45
```

#### 3. Converting negative values to positive:
```sql
SELECT ABS(-2500) AS absolute_value;
-- Output: 2500
```

#### 4. Formatting for readability (commas + decimals):
```sql
SELECT FORMAT(1234567.891, 2) AS formatted_number;
-- Output: "1,234,567.89"
```

#### 5. Using random numbers (e.g., for sampling):
```sql
SELECT RAND() AS random_value;
```

#### 6. Ceiling vs Floor:
```sql
SELECT CEIL(12.1) AS ceil_val, FLOOR(12.9) AS floor_val;
-- Output: ceil_val = 13, floor_val = 12
```