# Introduction to DDL (Data definition Language) with MySQL 

**Data Definition Language (DDL) statements define and manage database structures like tables, indexes, and schemas. Key commands include:**

- ```CREATE```: To create new objects (e.g., tables, databases).
- ```ALTER```: To modify existing objects (e.g., add/remove columns, change data types).
- ```DROP```: To delete objects (e.g., tables).
- ```RENAME```: To rename objects.
- ```TRUNCATE```: To remove all data from a table while keeping the structure (technically DML but often grouped with DDL for table management).

**DDL operations are auto-committed in MySQL (no rollback unless in a transaction with InnoDB). They can lock tables, impacting performance in production.**

<hr>

**Database:** Top-level container; holds tables etc. \
**Schema:** Synonym for database in MySQL \
**SQL Standard:** Schema is usually inside a database; MySQL merges the two concepts


```sql
-- Create a sample database if not exists
CREATE DATABASE IF NOT EXISTS learning_db;
USE learning_db;
```

<hr><hr>

# Data Types in MySQL


Understanding data types is crucial before creating tables, as they define how data is stored, validated, and queried. MySQL supports numeric, string, date/time, spatial, and JSON types. Choose types based on data range, storage efficiency, and query needs.

### Common Data Types include:

#### Numeric Types:

```TINYINT:``` 1 byte, -128 to 127 (or 0-255 unsigned).
```SMALLINT:``` 2 bytes, -32,768 to 32,767.\
```INT or INTEGER:``` 4 bytes, -2^31 to 2^31-1 (most common for IDs).\
```BIGINT:``` 8 bytes, for large numbers.\
```FLOAT/DOUBLE:``` For floating-point numbers (approximate; use DECIMAL for precision).\
```DECIMAL(M,D):``` Exact decimal, e.g., DECIMAL(10,2) for currency (up to 10 digits, 2 after decimal).
    ```

<br>

#### String Types:

```CHAR(M):``` Fixed-length, up to 255 chars (padded with spaces). \
```VARCHAR(M):``` Variable-length, up to 65,535 chars (efficient for varying lengths). \
```TEXT:``` For long text, up to 65,535 chars (use for >255 chars).\
```MEDIUMTEXT/LONGTEXT:``` For even longer text (up to 16MB/4GB).\
```ENUM('value1', 'value2'):``` Restricts to predefined values.\
```SET('value1', 'value2'):``` Allows multiple predefined values.

<br>

#### Date and Time Types:

```DATE:``` YYYY-MM-DD.\
```TIME:``` HH:MM:SS.\
```DATETIME:``` YYYY-MM-DD HH:MM:SS (stores both).\
```TIMESTAMP:``` Similar to DATETIME but auto-updates on insert/update (UTC-based).\
```YEAR:``` 4-digit year.

<br>

#### Other Types:

```BOOLEAN or TINYINT(1):``` 0/1 for true/false.\
```BLOB/MEDIUMBLOB/LONGBLOB:``` For binary data (e.g., images).\
```JSON:``` For structured JSON data (MySQL 5.7+).

<br>

### Best Practices for Data Types

- Use the smallest type that fits your data to save storage (e.g., TINYINT for status flags).
- Avoid FLOAT for money; use DECIMAL.
- For strings, prefer VARCHAR over CHAR unless fixed length is needed.
- Add UNSIGNED for non-negative numbers to double range (e.g., INT UNSIGNED).
- Use DEFAULT values and NOT NULL to enforce data integrity.
- Consider character sets (e.g., UTF8MB4 for emojis/multilingual support).


**Note:** Data types can be changed later with ALTER TABLE, but it may cause data loss or require table rebuilds (especially in large tables)

<hr>